appdirs
aria2p
psycopg2
beautifulsoup4
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
js2py
lk21
lxml
megasdkrestclient
psutil
pybase64
hachoir
pillow
filesplit
speedtest-cli
cfscrape
Pyrogram
python-dotenv
python-magic
python-telegram-bot
requests
telegraph
tenacity
TgCrypto
qbittorrent-api
torrentool==1.1.0
yt_dlp
urllib3
gunicorn
anytree